.svg-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: -30px;
}

.fish1 {
  position: absolute;
  z-index: 1;
  width: 70px;
  offset-path: path(
    "M1534.84,662.872c-9.26,31.359-38.49,55.302-83.65,71.681-45.14,16.375-106.09,25.151-178.58,26.241-144.96,2.18-335.936-26.378-538.553-86.205-202.616-59.827-378.473-139.584-499.001-220.157-60.267-40.289-106.675-80.765-135.6835-119.035-29.0156-38.28-40.5586-74.264-31.2991-105.623s38.4976-55.301,83.6526-71.681c45.143-16.375,106.094-25.15,178.579-26.241c144.963-2.18,335.938,26.378,538.554,86.205c202.621,59.827,378.471,139.585,499.001,220.158c60.27,40.288,106.68,80.764,135.68,119.034c29.02,38.28,40.56,74.264,31.3,105.623Z"
  );
  offset-distance: 0%;
  animation: loop 5s linear infinite;
}

@keyframes loop {
  0% {
    offset-distance: 100%;
  }
  100% {
    offset-distance: 0%;
  }
}
